.board {
  padding: 4px;
  background-color: black;
  border: var(--game-border);
  border-radius: var(--border-radius);
  display: inline-grid;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  gap: 4px 8px;
}
