.board {
  padding: 4px;
  background-color: black;
  border: 2px solid white;
  border-radius: 4px;
  display: inline-grid;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  gap: 4px 8px;
}
