.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.timer {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  background-color: navy;
  border: var(--game-border);
  border-radius: 50%;
  padding: 18px 24px;
}

.input {
  padding: 12px 16px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: black;
  border: var(--game-border);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  outline: none;
}

.input:disabled {
  cursor: not-allowed;
}

.submit {
  padding: 18px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: mediumvioletred;
  border: var(--game-border);
  border-radius: 50%;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.submit:disabled {
  cursor: not-allowed;
}
