.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: navy;
  border: var(--game-border);
  border-radius: 50%;
  padding: 18px 24px;
  gap: 4px;
}

.time {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}
