.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.accountStats {
  font-size: 1.25rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: white;
}
