:root {
  --bg: steelblue;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --border-radius: 4px;
  --game-border: 2px solid white;
  font: 18px/145% var(--sans);
  background: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}
